body {
	overflow: hidden;
}

a {
	font-family: Arial, sans-serif;
	font-size: 13px;
	text-decoration: none;	
	color: #404040;
}

.nav {
	float: right;
	margin: 7px 15px 0 0;
}

li {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	font-family: Arial, sans-serif;
	font-size: 13px;
}

.nav a:hover{
	text-decoration: underline;
}

img {
	vertical-align: middle;
	width: 369px;
	height: 155px;
	margin-bottom: 15px;
	margin-left: 435px;
	display: block;
	position: relative;
	padding-top: 150px;
}

.button {
	font-weight: bold;
	font-size: 12px;
	color: #424242;
	margin: 10px;
	padding: 5px;
}

.searchbar {
	font-family: Arial, sans-serif;
	font-size: 14px;
	border-radius: 5px;
	height: 15px;

}

p {
	font-family: Arial, sans-serif;
	font-size: 14px;
}

p a {
	font-size: 14px;
	color: #5C005C;
}

footer {
	background: #f2f2f2;
	border top: 1px solid #e4e4e4;
	line-height: 40px;
	min-width: 100%;
	bottom: 0;
	position: absolute;
}

footer a {
	margin-right: 15px;
}

footer ul {
	padding: 0 0 0 20px;
}

.left_foot {
	float: left;
	margin: 0;
}

.right_foot {
	float: right;
	margin: 0;
	margin-right: 20px;
}